.activity-container {
  padding: 30px;
  background: #f1f8e9;
  min-height: 100vh;
}

.activity-card {
  background: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}